@{
    ViewBag.Title = "Agregar area";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("agregarEquipo", "EquiposView")">Inicio</a>
            </li>
            <li>
                <a>Areas</a>
            </li>
            <li class="active">
                <strong>Agregar Area</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AreasController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Agregar Nueva Area <small>Expandir</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" id="clearform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre de Area</label>

                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="Ingrese el nombre del area" data-ng-model="nombrearea"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>

                            <div class="col-sm-10"><textarea  data-ng-model="descripcion" rows="5" cols="10" class="form-control" placeholder="Ingrese una descripcion"></textarea></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sucursal</label>
                            <div class="col-sm-10">
                                <select class="form-control animated fadeInRight" name="sucursal" id="sucursal" data-ng-model="sucursal">
                                    <option ng-repeat="sucursal in sucursales" value="{{sucursal.id}}">{{sucursal.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Encargado</label>
                            <div class="col-sm-10">
                                <select class="form-control animated fadeInRight" name="encargado" id="encargado" data-ng-model="encargado">
                                    <option ng-repeat="encargado in encargados" value="{{encargado.usuarioID}}">{{encargado.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                               <button type="button" ng-click="saveArea()" class="lazur-bg btn-block"> Enviar </button>
                            </div>
                        </div>
                        </form>
</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Areas</h5> &nbsp; <i>(doble click para actualizar)</i>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                
                <div class="ibox-content">

                    <table datatable="ng" id="dtAreas" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Area</th>
                                <th>Descripcion</th>
                                <th>Sucursal</th>
                                <th>Encargado</th>
                                <th>Activo</th>
                                <th>Fecha de creacion</th>
                                <th>Borrar</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="area in areas | orderBy:'+':true">
                                <td>{{$index+1}}</td>
                                <td>{{area.nombreArea}}</td>
                                <td>{{area.descripcion}}</td>
                                <td>{{area.nombreSucursal}}</td>
                                <td>{{area.nombreEncargado}}</td>
                                <td>{{area.activo}}</td>
                                <td>{{area.fechaIngreso}}</td>
                                <td>
                                    <button class="btn btn-danger btn-circle" type="button" data-ng-click="dltArea(area.areaID)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button type="button" class="btn blue-bg" data-toggle="modal" data-target="#myModal">
                                        Modificar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
    </div>


<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                <div class="form-group"><label>Sample Input</label> <input type="email" placeholder="Enter your email" class="form-control"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

}


