@{
    ViewBag.Title = "Asignar Equipo";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("agregarEquipo", "EquiposView")">Inicio</a>
            </li>
            <li>
                <a>Areas</a>
            </li>
            <li class="active">
                <strong>Asignar Equipo a Area</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AreasController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Asignar Equipo a Area <small>Expandir</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6" ng-if="equipo.serializado==false || equipo.areaStatus==false" ng-repeat="equipo in equipos">
                            <div class="ibox">
                                <div class="ibox-content product-box">
                                    @*<div class="product-imitation">
                                            <img src="img/Equipos/Img_a10.jpg" style="width:100%;height:230px;">
                                        </div>*@
                                    <div class="product-desc">
                                        <p>


                                            <strong>
                                                {{equipo.equipoID}}
                                            </strong>
                                        </p>

                                        <a href="#" class="product-name" id="nombree">{{equipo.nombreEquipo}}</a>
                                        <div class="small m-t-xs">
                                            <p>
                                                Descripcion: <strong>
                                                    {{equipo.descripcion}}
                                                </strong>
                                            </p>
                                            <p>
                                                Area: <strong>
                                                    Sin definir
                                                </strong>
                                            </p>
                                            <p>
                                                Numero de serie: <strong>
                                                    {{equipo.numeroSerie}}
                                                </strong>
                                            </p>
                                            <div ng-if="equipo.serializado==false">
                                                <input type="number" class="form-control" ng-model="$parent.cantid">
                                            </div>
                                            <div ng-if="equipo.serializado==true">

                                                <input type="number" class="form-control" required ng-value="1" readonly>
                                            </div>
                                            <label>Sucursal</label>
                                            <select class="form-control" name="sucursales" id="sucursales"
                                                    ng-options="sucursal.nombre for sucursal in sucursales track by sucursal.id"
                                                    ng-model="suc" ng-change="getAreaBySucId(suc.id)" required="">
                                                <option value="">Seleccione una sucursal</option>
                                            </select><br>
                                            <label>Area</label>
                                            <select class="form-control" name="areas" id="areas" required=""
                                                    ng-options="area.nombre for area in areas track by area.areaID"
                                                    ng-model="are">
                                                <option value="">Seleccione un area</option>
                                            </select>
                                            <input type="hidden" name="" id="idequipo" ng-value="{{equipo.equipoID}}">
                                        </div>
                                        <div class="m-t text-righ">
                                            <div ng-if="equipo.serializado==false">
                                                <button ng-click="asignararea(equipo.equipoID, suc.id, are.areaID,cantid)" class="btn btn-xs btn-outline btn-primary asignar">Asignar area <i class="fa fa-long-arrow-right"></i> </button>
                                            </div>
                                            <div ng-if="equipo.serializado==true">
                                                <button ng-click="asignararea(equipo.equipoID, suc.id, are.areaID, 1)" class="btn btn-xs btn-outline btn-primary asignar">Asignar area <i class="fa fa-long-arrow-right"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>