@{
    ViewBag.Title = "ticketLink";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="text-center m-t-lg">

                <div class="ibox-title" style="background:#0a1434; color:white;">
                    <h1><strong>Reportar Equipo</strong></h1>
                </div><br />

                <small>
                    toca el circulo para reportar algun desperfecto en un equipo del gimnacio
                    <i class="glyphicon glyphicon-pencil"></i><br><br>
                    <a href="ticketForm"><img src="~/Images/Circle_Logo.png" width="450" height="450"></a>
                </small>
            </div>
        </div>
    </div>
</div>
