@{
    ViewBag.Title = "Problema-solucion";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Problema - Solucion</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("agregarEquipo", "EquiposView")">Inicio</a>
            </li>
            <li>
                <a>Areas</a>
            </li>
            <li class="active">
                <strong>Problema solucion</strong>
            </li>
        </ol>
    </div>
</div>